$border-xs: 1px;
$border-sm: 2px;

@include generate-borders(('black': $black), ('none': 0, 'xs': $border-xs, 'sm': $border-sm));

.border-round {
	border-radius: 20px;
}

.no-border {
	border: 0 !important;
	box-shadow: none !important;
}

.border-secondary, .input-group-btn > .border-secondary {
	border-color: $brand-secondary !important;
}
