@import './mixins.scss';

.full-width {
	width: 100% !important;
}

.inline-block {
	display: inline-block;
}

.vertical-align-middle {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

.popover {
	max-width: 500px;
	min-width: 340px;
	width: auto;
	height: auto;
}

.pointer {
	cursor: pointer;
}

.content-module {
	min-height: calc(100% - 110px - 143px);
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.characteristic-block {
	@extend .text-center;
	@extend .margin-bottom-xs-xs;
	background-color: $brand-primary-lite;
	border-bottom: 8px solid $brand-primary;
	padding-top: 10px;
	padding-bottom: 10px;

	&.characteristic-block-red {
		background-color: $red2;
		border-bottom-color: $red1;

		.value-block, .no-value-block {
			color: $red1;
		}
	}

	&.characteristic-block-green {
		background-color: $green2;
		border-bottom-color: $green1;

		.value-block, .no-value-block {
			color: $green1;
		}
	}

	.title {
		@extend .text-bold;
	}

	.value-block, .no-value-block {
		@extend .margin-top-xs-xs;
		color: $brand-primary-text;
		margin-bottom: 5px;

		.value {
			@extend .text-bold;
			@extend .text-26-xs;
			@extend .padding-right-xs-xs;
		}

		.no-value {
			@extend .text-bold;
			@extend .text-26-xs;
			@extend .padding-right-xs-xs;
		}

		.unit {
		}
	}

	.date {
		color: $black;
		font-size: 11px;
	}
}

.equipments-block {
	min-height: 125px;
}

.table-cell-middle {
	display: table-cell;
	vertical-align: middle;
}
