@import '../scss/variables.scss';

@mixin panel-title-font-style {
	font-weight: normal;
	font-family: $font-blair;
	font-size: 14px;
}

@mixin panel-link-font-style {
	font-weight: normal;
	font-size: 13px;
	font-family: $font-helvetica;
}

.panel {
	@extend .box-shadow;
}



