<div class="container">
	<div *ngIf="!loading;else loadingTemplate">
		<h1>
			{{ 'user.listKdos' | translate:{ name: user.firstName } }}
			<span class="pull-right">
				<button class="btn btn-primary" (click)="addKdo()" *ngIf="isConnectedUser() | async">
					<i class="fa fa-plus"></i>
					{{ 'user.kdos.add' | translate }}
				</button>
			</span>
		</h1>
		<table class="table">
			<thead>
			<tr>
				<th>{{ 'user.kdos.title' | translate}}</th>
				<th width="100px">
						<span *ngIf="!isConnectedUser() | async">
							{{ 'user.kdos.state' | translate }}
						</span>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let kdo of user.kdos; let index = index;">
				<td (click)="showKdo(index)" class="pointer">
					{{ kdo.title }}
				</td>
				<td *ngIf="isConnectedUser() | async; else statusTemplate">
					<button class="btn btn-primary" (click)="edit(kdo, index)">
						{{ 'user.kdos.edit' | translate}}
					</button>
				</td>
				<ng-template #statusTemplate>
					<td>
						{{ 'kdo.state.' + kdo.status | translate }}
					</td>
				</ng-template>
			</tr>
			</tbody>
		</table>
	</div>
	<ng-template #loadingTemplate>
		<al-loading></al-loading>
	</ng-template>
</div>
