<div class="container">
	<div *ngIf="!loading;else loadingTemplate">
		<h1>
			{{ 'user.listKdos' | translate:{ name: user.firstName } }}
			<span class="pull-right">
				<button class="btn btn-primary" (click)="addKdo()">
					<i class="fa fa-plus"></i>
					{{ 'user.kdos.add' | translate }}
				</button>
			</span>
		</h1>
		<table class="table">
			<thead>
			<tr>
				<th>{{ 'user.kdos.title' | translate}}</th>
				<th></th>
				<th width="200px" *ngIf="!(isConnectedUser() | async)">
					{{ 'user.kdos.state' | translate }}
				</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let kdo of user.kdos; let index = index;">
				<td (click)="showKdo(index)" class="pointer">
					{{ kdo.title }}
				</td>
				<td>
					<button class="btn btn-primary" (click)="edit(kdo, index)">
						{{ 'user.kdos.edit' | translate}}
					</button>
				</td>
				<td *ngIf="!(isConnectedUser() | async)">
					{{ 'kdo.state.' + kdo.status | translate }}
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<ng-template #loadingTemplate>
		<al-loading></al-loading>
	</ng-template>
</div>
