<div class="panel panel-default margin-top-md-xs">
	<div class="panel-heading">Confidential block</div>
	<div class="panel-body" *ngIf="!isStrongAuth()">
		<p>
			<i>You have to be strong authenticated to see this content.</i>
		</p>
		<button class="btn btn-default" routerLink="/login/sms">Authenticate strongly (by SMS)</button>
	</div>
	<div class="panel-body" *ngIf="isStrongAuth()">
		<p>Your alerts :</p>
		<ul>
			<li>Patient M. Paul Durand</li>
			<li>Patient Mme. Lucile Bernard</li>
		</ul>
	</div>
</div>
