<!--<pre>{{form.value | json}}</pre>-->
<div [formGroup]="form" class="doesnt-show-invalidity">
	<ng-template #calSelection>
		<datepicker (selectionDone)="closePopover(pop)" formControlName="dateValue" [showWeeks]="true"
					[minDate]="minDate" [maxDate]="maxDate"
					[datepickerMode]="datepickerMode" [dateDisabled]="datesDisabledArray">
		</datepicker>
	</ng-template>
	<div class="input-group full-width">
		<input (focus)="onTextInputFocus()" (blur)="onTextInputBlur()" #input placeholder="{{placeholder}}"
			   class="form-control full-width"
			   formControlName="textValue" id="{{id}}" name="{{name}}" type="text"/>
		<span class="input-group-btn">
			<button [ngClass]="['btn', 'al-btn-info', 'form-control', 'icon', buttonClass]"
					type="button"
					#pop="bs-popover"
					container="body"
					[popover]="calSelection"
					triggers="click"
					[placement]="placement"
					[disabled]="datepickerDisabled">
				<i class="fa fa-calendar"></i>
			</button>
		</span>
	</div>
</div>
