:host {
	display: block;
}

.disclaimer-container {
	i {
		margin-right: 5px;
	}

	&.info {
		color: var(--blue);
		i {
			display: none;
		}
	}

	&.warning {
		color: var(--orange);
	}

	&.blocker {
		color: var(--red);
	}
}
