<nav class="navbar navbar-default margin-bottom-sm-xs">
	<div class="container-fluid">
		<div class="navbar-header" *ngIf="profile || (!profile && !isOnHomePage())">
			<a routerLink="/">
				<img src="header/logo.png" alt="Puntovital" class="logo" height="80">
			</a>
		</div>
		<div *ngIf="!loading" class="collapse navbar-collapse line-height-90-xs">
			<ul class="nav navbar-nav navbar-right" *ngIf="!profile">
				<li class="border-icon">
					<a routerLink="/login" class="text-center">
						<div class="btn btn-primary round-btn box-shadow">
							<i class="fa fa-sign-in" aria-hidden="true"></i>
						</div>
						<div>
							{{'header.links.login' | translate}}
						</div>
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" *ngIf="profile">
				<li class="border-icon">
					<a routerLink="/" class="text-center">
						<div class="btn btn-primary round-btn box-shadow">
							<i class="fa fa-home" aria-hidden="true"></i>
						</div>
						<div>Dashboard</div>
					</a>
				</li>
				<li class="border-icon">
					<a routerLink="/reports" class="text-center">
						<div class="btn btn-primary round-btn box-shadow">
							<i class="fa fa-file-text" aria-hidden="true"></i>
						</div>
						<div>Reports</div>
					</a>
				</li>
				<li dropdown triggers="click" class="border-icon">
					<a dropdownToggle class="text-center">
						<div class="btn btn-primary round-btn box-shadow">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
						<div class="ellipsis">
							<span>{{ profile.firstname }}</span>
						</div>
					</a>
					<ul *dropdownMenu class="dropdown-menu">
						<li>
							<a href="" (click)="logout()">
								{{ 'header.links.logout' | translate }}
							</a>
						</li>
						<li>
							<a routerLink="/profile">
								{{'header.profile' | translate:profile}}
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
