@import '../components/scss/variables.scss';

:host /deep/ {
	ng-select > div {
		margin-top: 23px;;
	}

	.pull-right {
		> span {
			list-style-type: none;

			& > a {
				padding-top: 10px;
				height: 90px;
				color: $brand-primary;
			}
		}

		.border-icon {
			width: 70px;
			margin-top: 15px;
			text-align: center;
			display: inline-block;

			.round-btn {
				height: 50px;
				width: 50px;
				border-radius: 25px;
				padding-left: 6px;

				.fa-sign-in {
					font-size: 2.8em;
				}

				.fa-home {
					font-size: 2.8em;
				}

				.fa-file-text {
					margin-left: 7px;
					font-size: 2em;
					margin-top: 3px;
				}

				.fa-user {
					margin-left: 3px;
					font-size: 2.2em;
				}

			}
		}

		.text-description-link {
			color: #fff;
		}

		.dropdown-menu {
			left: initial;
			right: 0;
		}
	}

	.pull-right > .border-icon > a:hover,
	.pull-right > .border-icon > a:focus {
		color: $brand-primary-text;
	}

	.logo {
		margin-top: 4px;
	}
}
