ng-select {

	.ui-select-container {
		.ui-select-match {
			.btn {

				&.btn-secondary {
					@include button-variant($btn-default-color, $white, $input-border-color-base);
				}

				.caret {
					@extend .fa;
					@extend .fa-angle-down;
					font-size: 25px;
					border: none;
					margin-top: -12px;
					margin-right: 20px;
					border-radius: $input-border-radius-large;
				}
			}
		}

		.ui-disabled {
			border-radius: $input-border-radius-large;
		}

		.ui-select-choices-row.active {
			&, & > a {
				background-color: $brand-primary !important;
			}
		}
	}
}