<div *ngIf="!profile" class="container text-center">
	<div class="panel panel-white">
		<div class="panel-heading">
			<h1 class="text-28-xs text-bold">
				{{ 'home.title' | translate }}
			</h1>
		</div>
		<div class="panel-body">
			<img src="assets/logo.png" alt="Home" />
		</div>
	</div>
</div>

<div *ngIf="profile" class="container text-left mb-5">
	<h2>
		{{ 'home.listUsers' | translate }}
	</h2>
	<div *ngFor="let user of usersObservable | async">
		<a [routerLink]="['/users', user._id]">{{ user.firstName }}</a>
		<span *ngIf="user.kdosCount"> ({{ user.kdosCount }} {{ 'home.kdosCount' | translate }}) </span>
		<span class="small" *ngIf="user.lastSessionAt">Dernière connexion le {{ user.lastSessionAt | date: 'dd/MM' }}</span>
	</div>
</div>
