<div class="modal-header">
	<h4 class="modal-title pull-left">INFORMACI&Oacute;N LEGAL</h4>
</div>
<div class="modal-body">
	<b>Condiciones legales de acceso y uso</b>
	<br/>
	puntovital.vitalaire.es es un sitio web de las siguientes empresas del grupo AIR LIQUIDE (en adelante &ldquo;VITALAIRE&rdquo;):
	<ul>
		<li>
			AIR LIQUIDE MEDICINAL, S.L.U. con domicilio social en Madrid Calle Orense, 34, 3&ordm;, con NIF B-81231011 e
			inscrita en el Registro Mercantil de Madrid, tomo 9699, folio 194, Hoja M 155.855
		</li>
		<li>
			GRUPO GASMEDI, S.L.U. con domicilio social en Madrid Calle Orense, 34, 3&ordm;, con NIF B-84745801 e
			inscrita en el Registro Mercantil de Madrid, tomo 24.279, folio 87, Hoja M410207.
		</li>
	</ul>
	<p>
		<span>
			Para mayor informaci&oacute;n puede contactarnos a trav&eacute;s del n&uacute;mero de tel&eacute;fono 915029630,
			o bien a trav&eacute;s de la siguiente direcci&oacute;n de correo electr&oacute;nico &nbsp;
		</span>
		<span>
		<a href="mailto:informacion@airliquide.com">informacion.vitalaire[at]airliquide.com</a>
		</span>
	</p>
	<p>
		<b>C&oacute;digos de conducta</b>
	</p>
	<p>
		<span>
			VITALAIRE es una empresa asociada a FENIN y est&aacute; adherida a su c&oacute;digo &eacute;tico disponible en su web
		</span>
		<span>
			<a href="https://www.google.com/url?q=http://www.fenin.es&amp;sa=D&amp;ust=1505836490692000&amp;usg=AFQjCNGNw5mK6wVvF_VSGlHgmeRyfEG-kg">www.fenin.es</a>
		</span>
		<span>
			.
		</span>
	</p>
	<p>
		<span>
			Asimismo, VITALAIRE y sus empleados est&aacute;n sujetos a su C&oacute;digo &Eacute;tico que puede encontrarse en la p&aacute;gina web
		</span>
		<span>
			<a href="https://www.google.com/url?q=http://www.vitalaire.es&amp;sa=D&amp;ust=1505836490693000&amp;usg=AFQjCNGE4d3-loLuHnEruN7AjrPsqnezdw">www.vitalaire.es</a>
		</span>
	</p>
	<p>
		<b>Usuarios</b>
	</p>
	<p>
		<span>
			El acceso al sitio web atribuye a quien lo realiza la condici&oacute;n de usuario y la aceptaci&oacute;n sin reservas
			de todas y cada una de estas CONDICIONES DE USO, as&iacute; como aquellas otras particulares que en su caso rijan los servicios vinculados al mismo.
		</span>
	</p>
	<p>
		<span>
			El acceso al sitio web tiene car&aacute;cter gratuito. No obstante, el acceso al sitio &nbsp;web estar&aacute; condicionado
			al previo registro del usuario con la cumplimentaci&oacute;n de un Formulario de Registro de Usuario.
		</span>
	</p>
	<p>
		<b>Modificaciones</b>
	</p>
	<p>
		<span>
			Con el fin de mejorar las prestaciones del sitio web, VITALAIRE podr&aacute; en cualquier momento y sin previo
			aviso al usuario, modificar o suspender temporalmente la presentaci&oacute;n, configuraci&oacute;n, especificaciones t&eacute;cnicas,
			contenidos o servicios del sitio web. Asimismo VITALAIRE podr&aacute; modificar estas condiciones legales de uso.
		</span>
	</p>
	<p>
		<b>Obligaciones del usuario</b>
	</p>
	<p>
		<span>
			El usuario asume y se compromete a las siguientes obligaciones:
		</span>
	</p>
	<ul>
		<li>
			<span>
				Realizar un buen uso de los contenidos y servicios del sitio web que nunca podr&aacute;n ser utilizados para actividades
				il&iacute;citas o que puedan ser contrarias al orden p&uacute;blico, la defensa nacional o la salud p&uacute;blica.
			</span>
		</li>
		<li>
			<span>
				Introducir y rellenar los formularios con datos verdaderos, exactos, completos y actualizados.
				El usuario ser&aacute; el &uacute;nico responsable de cualquier da&ntilde;o o perjuicio, directo o indirecto, que pudiera ocasionar
				a VITALAIRE o a cualquier tercero por la introducci&oacute;n de informaci&oacute;n falsa, inexacta, incompleta o no actualizada.
			</span>
		</li>
		<li>
			<span>
				No utilizar los contenidos y en particular, la informaci&oacute;n obtenida en el sitio web para fines comerciales,
				ni para recoger o almacenar datos personales.
			</span>
		</li>
		<li>
			<span>
				No modificar ni suprimir los signos identificativos de los derechos de propiedad intelectual, industrial o cualquier
				otro derecho de VITALAIRE.
			</span>
		</li>
		<li>
			<span>
				A hacer un uso diligente y a no poner a disposici&oacute;n de terceros su nombre de usuario y contrase&ntilde;a, as&iacute; como a comunicar
				a VITALAIRE, a la mayor brevedad, la p&eacute;rdida, robo o cualquier riesgo de acceso a los mismos por un tercero.
			</span>
		</li>
	</ul>
	<p>
		<b>Exclusi&oacute;n de garant&iacute;as y responsabilidades</b>
	</p>
	<p>
		<span>
			El acceso y utilizaci&oacute;n del sitio web se realiza bajo la exclusiva responsabilidad del usuario.
		</span>
	</p>
	<p>
		<span>
			VITALAIRE no se responsabiliza de la exactitud, veracidad y vigencia de los datos e informaci&oacute;n introducida por los usuarios,
			ni de los da&ntilde;os y perjuicios que pudieran derivarse del acceso o uso de la informaci&oacute;n.
		</span>
	</p>
	<p>
		<span>
			VITALAIRE no garantiza ni se responsabiliza de los da&ntilde;os y perjuicios de cualquier naturaleza que se deban a las siguientes
			circunstancias:
		</span>
	</p>
	<ul>
		<li>
			<span>
				La falta de continuidad del funcionamiento o el funcionamiento incorrecto de la web.
			</span>
		</li>
		<li>
			<span>
				Por posibles errores de seguridad, la presencia de virus o programas en el ordenador del usuario ni de los da&ntilde;os que puedan
				causarse en el sistema inform&aacute;tico del usuario.
			</span>
		</li>
		<li>
			<span>
				La falta de adecuaci&oacute;n o utilidad de los servicios y contenidos de la web a las expectativas del usuario.
			</span>
		</li>
	</ul>
	<p>
		<b>Propiedad intelectual e industrial</b>
	</p>
	<p>
		<span>
			Los derechos de propiedad intelectual e industrial contenidos en el sitio web, su dise&ntilde;o gr&aacute;fico y c&oacute;digos fuente, los nombres
			comerciales, marcas y signos distintivos son titularidad del Grupo AIR LIQUIDE.
		</span>
	</p>
	<p>
		<span>
			La utilizaci&oacute;n no autorizada de la informaci&oacute;n contenida en la web, su comercializaci&oacute;n as&iacute; como la lesi&oacute;n de los derechos de
			propiedad intelectual e industrial de Grupo AIR LIQUIDE dar&aacute; lugar a las responsabilidades legalmente establecidas.
		</span>
	</p>
	<p>
		<b>Empleo de cookies</b>
	</p>
	<p>
		<span>
			VITALAIRE utiliza cookies propias o de terceros para facilitar la navegaci&oacute;n a trav&eacute;s de la p&aacute;gina web y obtener una mayor
			eficacia y personalizaci&oacute;n de los servicios ofrecidos a cada usuario. Para obtener m&aacute;s informaci&oacute;n sobe su uso, acceda a la
			Pol&iacute;tica de Cookies.
		</span>
	</p>
	<p>
		<b>Legislaci&oacute;n aplicable y jurisdicci&oacute;n</b>
	</p>
	<p>
		<span>
			Las presentes condiciones de uso se regir&aacute;n por lo dispuesto en la legislaci&oacute;n espa&ntilde;ola. En el caso de que se produzca cualquier
			discrepancia o controversia con motivo de la interpretaci&oacute;n o aplicaci&oacute;n de estas condiciones o del contenido de la p&aacute;gina web en
			general, VITALAIRE y el usuario, con renuncia de cualquier otro fuero que pudiera corresponderles, se someten a la jurisdicci&oacute;n de
			los Juzgados y Tribunales del domicilio del Usuario. En caso de que el usuario tenga su domicilio fuera de Espa&ntilde;a las partes se someten
			con renuncia expresa a cualquier otro fuero, a los Juzgados y Tribunales de la ciudad de Madrid.
		</span>
	</p>
	<p>
		<b>Protecci&oacute;n de Datos de Car&aacute;cter Personal</b>
	</p>
	<p>
		<span>
			Alta como usuario registrado
		</span>
	</p>
	<p>
		<span>
			Para acceder a los servicios de este sitio web ser&aacute; preciso darse de alta como usuario registrado. Los datos para cumplimentar
			el Formulario de Registro de Usuario facilitan de manera libre y voluntaria y los datos ser&aacute;n ciertos. El usuario se compromete
			a hacer un uso diligente y a no poner a disposici&oacute;n de terceros su nombre de usuario y contrase&ntilde;a, as&iacute; como a comunicar a VITALAIRE,
			a la mayor brevedad, la p&eacute;rdida, robo o cualquier riesgo de acceso a los mismos por un tercero.
		</span>
	</p>
	<p>
		<span>
			Al darse de alta como usuario registrado el usuario consiente que sus datos personales y de cualquier otra &iacute;ndole sean tratados de forma automatizada.
		</span>
	</p>
	<p>
		<span>
			VITALAIRE garantiza la seguridad y confidencialidad de los datos de car&aacute;cter personal facilitados de conformidad con lo dispuesto en
			la Ley Org&aacute;nica 15/1999, de 13 de diciembre de Protecci&oacute;n de Datos de Car&aacute;cter Personal (LOPD).
		</span>
	</p>
	<p>
		<span>
			La recogida y tratamiento de los datos personales de los usuarios, salvo que se indique otra cosa, tiene como finalidad la gesti&oacute;n de
			los accesos a la informaci&oacute;n de los pacientes y controlar el cumplimiento de las condiciones legales de uso.
		</span>
	</p>
	<p>
		<span>
			Los datos que se soliciten al usuario tendr&aacute;n por lo general car&aacute;cter obligatorio. En caso de que usuario no facilite los datos de
			car&aacute;cter obligatorio no podr&aacute; acceder a los servicios del sitio web.
		</span>
	</p>
	<p>
		<span>
			Los datos obtenidos est&aacute;n sujetos a medidas de seguridad y pol&iacute;tica de privacidad de VITALAIRE de acuerdo con la normativa vigente en cada momento.
		</span>
	</p>
	<p>
		<span>
			A los efectos de lo dispuesto en la LOPD, VITALAIRE &nbsp;informa de la existencia de un fichero de datos de car&aacute;cter personal que contiene
			los datos personales obtenidos con ocasi&oacute;n del proceso de registro en el sitio web los cuales ser&aacute;n objeto de tratamiento automatizado a los
			efectos de facilitar los servicios que se dispensan.
		</span>
	</p>
	<p>
		<span>
			Asimismo, el usuario autoriza expresamente el tratamiento de dichos datos a empresas del Grupo Air Liquide que constan identificadas al
			comienzo del presente documento,&nbsp; as&iacute; como a cualquier otra entidad con la que establezca v&iacute;nculos de colaboraci&oacute;n, para la efectividad
			de las relaciones contractuales con el usuario.
		</span>
	</p>
	<p>
		<span>
			VITALAIRE, en ning&uacute;n caso ceder&aacute; los datos personales que se recogen a trav&eacute;s de este sitio web a terceros sin el consentimiento expreso del usuario.
		</span>
	</p>
	<p>
		<span>
			Los Datos Personales, ser&aacute;n tratados con el grado de protecci&oacute;n legalmente exigible para garantizar la seguridad de los mismos y evitar su
			alteraci&oacute;n, p&eacute;rdida, tratamiento o acceso no autorizado.
		</span>
	</p>
	<p>
		<span>
			Para ejercitar los derechos de acceso, rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n de sus datos personales deber&aacute; dirigir comunicaci&oacute;n escrita a
			Protecci&oacute;n de Datos de VITALAIRE, Calle Orense, 34 planta 3&ordf; de Madrid (28020) con los requisitos establecidos en el Real Decreto 1720/2007,
			de 21 de diciembre, por el que se aprueba el Reglamento de Desarrollo de la Ley Org&aacute;nica 15/1999, de 13 de diciembre, de Protecci&oacute;n de Datos
			de Car&aacute;cter Personal.
		</span>
	</p>
</div>
