<div class="container">
	<div class="d-flex justify-content-end">
		<button class="btn btn-danger" (click)="logout()">
			<i class="fa fa-sign-out"></i>
			Se déconnecter
		</button>
	</div>
	<div *ngIf="!loading">
		<h1>
			{{ 'user.personal.info.title' | translate }}
		</h1>
		<div class="d-flex flex-column">
			<div class="d-flex justify-content-center">
				<div class="mr-5 w-25 text-right">{{ 'user.personal.info.lastName' | translate }}</div>
				<div class="w-25">
					{{ user.lastName }}
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<div class="mr-5 w-25 text-right">{{ 'user.personal.info.firstName' | translate }}</div>
				<div class="w-25">
					{{ user.lastName }}
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div class="mr-5 w-25 text-right">{{ 'user.personal.info.email' | translate }}</div>
			<div class="w-25">
				{{ user.email }}
			</div>
		</div>
	</div>
	<div *ngIf="!loading">
		<h1>
			{{ 'password.reset.title' | translate }}
		</h1>
		<div class="d-flex flex-column">
			<form class="form form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="resetForm">
				<div class="form-group form-group-lg" n9ShowErrors>
					<div class="col-xs-12">
						<div class="input-layout">
							<input
								type="password"
								autocomplete="current-password"
								name="oldPwd"
								id="oldPwd"
								class="form-control"
								formControlName="oldPwd"
								placeholder="{{ 'password.reset.form.placeholders.oldPwd' | translate }}"
							/>
						</div>
					</div>
				</div>
				<div class="form-group form-group-lg" n9ShowErrors>
					<div class="col-xs-12">
						<div class="input-layout">
							<input
								type="password"
								autocomplete="new-password"
								name="pwd"
								id="pwd"
								class="form-control"
								formControlName="pwd"
								placeholder="{{ 'password.reset.form.placeholders.pwd' | translate }}"
							/>
						</div>
					</div>
				</div>
				<div class="form-group form-group-lg" n9ShowErrors>
					<div class="col-xs-12">
						<div class="input-layout">
							<input
								type="password"
								autocomplete="new-password"
								name="confirmedPwd"
								id="confirmedPwd"
								class="form-control"
								formControlName="confirmedPwd"
								placeholder="{{ 'password.reset.form.placeholders.confirmed-pwd' | translate }}"
							/>
						</div>
					</div>
				</div>
				<div class="text-danger" *ngIf="!resetForm.valid && resetForm.hasError('notEquivalent')">La confirmation du nouveau mot de passe ne correspond pas au nouveau mot de passe.</div>
				<div class="form-group form-group-lg">
					<div class="col-xs-12 text-center">
						<button type="submit" class="btn btn-lg btn-primary" [disabled]="resetForm.invalid">
							{{ 'password.reset.form.actions.submit' | translate }}
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-xs-3 padding-top-xs-xs margin-top-xs-xs">
			<div class="col-xs-12 line-height-25-xs center-block">
				{{ 'password.reset.security.title' | translate }}
				<ul class="list-unstyled text-10-xs">
					<li>
						<i class="fa fa-check text-green1-xs margin-right-xs-xs" aria-hidden="true"></i>
						{{ 'password.reset.security.character' | translate }}
					</li>
					<li>
						<i class="fa fa-check text-green1-xs margin-right-xs-xs" aria-hidden="true"></i>
						{{ 'password.reset.security.digit' | translate }}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
